<!-- <a href="https://codepen.io/uiswarup/pen/qBebRpq" target="_blank">
  <header class="top-header">
</header> -->
<div class="not-found-template">
  <!--dust particel-->
  <div>
    <div class="starsec"></div>
    <div class="starthird"></div>
    <div class="starfourth"></div>
    <div class="starfifth"></div>
  </div>
  <!--Dust particle end--->

  <div class="lamp__wrap">
    <div class="lamp">
      <div class="cable"></div>
      <div class="cover"></div>
      <div class="in-cover">
        <div class="bulb"></div>
      </div>
      <div class="light"></div>
    </div>
  </div>
  <!-- END Lamp -->
  <section
    class="container mx-auto d-flex justify-content-center align-items-center"
  >
    <!-- Content -->
    <div
      class="container mx-auto d-flex justify-content-center align-items-center"
    >
      <div class="d-flex flex-column justify-content-center">
        <h1 class="text-center">Page Not Found</h1>
        <p class="text-center">
          We're sorry, the page you were looking for isn't found here. The link
          you followed may either be broken or no longer exists. Please try
          again, or take a look at our starry sky.
        </p>
        <a routerLink="/home" class="btn btn-primary text-light m-3 p-3 mx-auto"
          >Retour à l'accueil</a
        >
      </div>
      <div class="error__nav e-nav">
        <a routerLink="/home" class="e-nav__link"></a>
      </div>
    </div>
    <!-- END Content -->
  </section>
</div>
