.hrfull{
    margin:0px -15px 10px -15px;
}
.card-top{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    margin: 0;
    margin-bottom: -9px;
    padding: 0;
    background-color: rgb(161, 189, 214);
    border-radius: 5px 5px 0px 0px;
}