<div class="edituser">
  <p class="text-center">Formulaire d'édition</p>
  <form class="d-flex flex-column justify-content-center">
    <div class="d-flex flex-column">
      <label for="titre">Username</label>
      <input [(ngModel)]="name" type="text" name="name" id="name" />
    </div>
    <div class="d-flex flex-column">
      <label for="author">Pseudo Auteur</label>
      <input [(ngModel)]="age" type="number" name="age" id="age" />
    </div>
    <div>
      <input
        class="btn btn-success mt-3 me-3"
        type="button"
        value="Update User!"
        (click)="updateUser()"
      />
    </div>
  </form>
</div>
