<!-- section : html  + js -->
<section>
  <h2 class="text-center m-5">Liste des TP Angular pour la formation CDA:</h2>

  <div class="container d-flex flex-row justify-content-start">
    <div class="container col-sm-10 col-md-4 col-lg-2 card mb-2 p-2">
      <div class="card-header d-flex justify-content-between">
        <div class="container">
          <h4 class="lh-1 card-title" m-1 p-1>TP 1</h4>
          <h5 class="lh-1 card-subtitle text-black-50">Angular</h5>
        </div>
        <img class="w-25" src="./favicon.ico" alt="logo Angular" />
      </div>
      <div class="card-body">
        <p class="lh-1 card-text">FriendList with Angular</p>
      </div>
      <div card-footer>
        <div class="form-group mb-3 d-flex justify-content-end">
          <a
            class="nav-link TPbutton btn mt-4 btn-success w-100"
            routerLink="/listfriends"
            routerLinkActive="active"
            >Run Code</a
          >
        </div>
      </div>
    </div>
    <div class="container col-sm-10 col-md-4 col-lg-2 card mb-2 p-2">
      <div class="card-header d-flex justify-content-between">
        <div class="container">
          <h4 class="lh-1 card-title" m-1 p-1>TP 2</h4>
          <h5 class="lh-1 card-subtitle text-black-50">Angular</h5>
        </div>
        <img class="w-25" src="./favicon.ico" alt="logo Angular" />
      </div>
      <div class="card-body">
        <p class="lh-1 card-text">NgModel and more</p>
      </div>
      <div card-footer>
        <div class="form-group mb-3 d-flex justify-content-end">
          <a
            class="nav-link TPbutton btn mt-4 btn-success w-100"
            routerLink="/2wdb"
            routerLinkActive="active"
            >Run Code</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section end -------- -->
