<div
  id="list-friends"
  class="container-fluid w-100 d-flex flex-column justify-content-center align-items-center"
>
  <h1>List Friends (Property Binding)</h1>
  <div id="searchdiv" class="m-5 d-flex flex-column align-items-center">
    <input
      (input)="readInput($event)"
      type="text"
      name="search"
      id="searchbar"
      class="w-100"
    />
    <p class="mw-100">{{ searchresult }}</p>
  </div>
  <div id="friendlist">
    <div class="btn m-3 btn-success">{{ friendlistName }}</div>
  </div>
  <div class="d-flex flex-row">
    <app-one-friend
      class="m-2"
      *ngFor="let friend of listFriendTab; index as i"
      (nameEvent)="onNameOutput($event)"
      >{{ i }}/{{ friend }}</app-one-friend
    >
  </div>
  <button
    class="btn mt-4 btn-success w-100"
    [disabled]="listFriendsAuth"
    (click)="readEvent($event)"
  >
    Ajouter un Ami
  </button>
</div>
