<div
  onclick="handleClick()"
  [ngClass]="{ selected: select }"
  class="card text-light"
>
  <img
    class="card-img-top w-100"
    [src]="oneFriendImgUrl"
    class="card-img-top"
    [alt]="oneFriendName"
  />
  <div class="card-header" [ngStyle]="{ 'background-color': getColor() }">
    <p class="card-title">{{ profil.name }}</p>
    <p class="card-subtitle">Status: {{ getOneFriendStatus() }}</p>
  </div>
  <div class="card-body">
    <p>Age: {{ profil.age }}</p>
    <p>Bio: {{ oneFriendBio }}</p>
    <p>Réputation: {{ true ? "casseur de couilles" : "chiant" }}</p>
    <p>Xss: {{ oneFriendXss }}</p>
  </div>
</div>
