.card-img-top{
    height: 100px;
    object-fit: cover;
    margin: 0;
    padding: 0;
}
.card{
    background-color: rgb(36, 62, 85);
}
.selected{
    outline: rgb(45, 195, 255) 2px solid;
    border-radius: 5px;
} 